.vs
/AS.Web.Api/obj/*
/AS.Web.Api/obj

/AS.Web.Api/Properties

/AS.Web.Api/Properties/-

/AS.Web.Api/Properties/PublishProfiles

/AS.Web.Api/appsettings.json

/AS.Entities/obj/*

/AS.Entities/obj

AS.Web.Api/appsettings.json

.vs
obj
bin